.root {
    min-width: 320px;
    min-height: 100vh;
    padding-block: clamp(32px, 6.2vh, 67px);
    color: var(--color-text-primary);
    font-family: var(--font-family-base);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    background-image: url('/app_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
