.root {
    margin: 0;
    color: var(--color-general-white-spanish);
    font-family: var(--font-family-condensed);
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
}
